* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
}

header {
  background: #222;
  color: #fff;
  padding: 10px 30px;
  position: sticky;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.logo span {
  color: #00aaff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #00aaff;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 70px 40px;
  background-size: cover;
  background-image: url(../../../../Portfolio/background1.jpg);
  background-position: center;
  color: #fff;
  height: 60vh;
  
}

.hero-content {
  max-width: 50%;
}

.hero-content h1 {
  font-size: 36px;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 16px;
  margin-bottom: 20px;
}

.btn {
  background-color: #007bff;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

/* About Section */
.about {
  display: flex;
  align-items: center;
  padding: 60px 30px;
  gap: 50px;
}

.about-img img {
  width: 250px;
  border-radius: 10px;
}

.about-content h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.about-content p {
  margin-bottom: 10px;
}




